/*
	@theme Smarty placeholder
	@placeholder sourcecode.smarty
*/

sourcecode.smarty element identifier.variable {
	color: #4F9FCF;
}

sourcecode.smarty element attribute, sourcecode.smarty element identifier.function {
	color: #270079;
}

sourcecode.smarty element identifier.function.tag, sourcecode.smarty keyword.control {
	font-weight: bold;
}

literal.numeric {
	color: #7653c1;
}

delimiter.balanced.bracket.curly-brace {
	color: #270079;
}